node_modules/
bin/
dist/
build/
public/
newman/
.idea
.DS_Store
.#*
sandbox/responses/*.json

__pycache__/
.envrc
.idea/
.venv/

smoketest-report.xml
**/.env
**/integration_tests_report.xml

openapitools.json
openapi.json
