{
  "openapi" : "3.0.0",
  "info" : {
    "contact" : {
      "email" : "api.management@nhs.net",
      "name" : "Directory of Healthcare Services API - version 3",
      "url" : "https://digital.nhs.uk/developer/help-and-support"
    },
    "description" : "## Overview   \nUse this API to find information about organisations that provide NHS healthcare services, NHS organisation types, and coronavirus (COVID-19) walk-in sites.\n\nYou can:\n* retrieve a list of organisation types, for example, GP practices or hospitals\n* search for NHS organisations that provide healthcare services listed in [NHS service near you](https://www.nhs.uk/nhs-services/services-near-you/), for example, Leeds General Infirmary\n* search for coronavirus (COVID-19) walk-in sites\n\nThis API does not support the FHIR standard, but we have a mapping of how its response fields could be mapped to it. For details, see [DoHS API guide to FHIR mappings](https://digital.nhs.uk/developer/api-catalogue/directory-of-healthcare-services/version-3/dohs-api-guide-to-fhir-mappings).\n\n## Who can use this API\nThis API can only be used where there is a legal basis to do so. Make sure you have a valid use case before you go too far with your development. To do this, [contact us](https://digital.nhs.uk/developer/help-and-support). You must do this before you can go live (see ‘Onboarding’ below).\n\n## Related APIs\nThe following APIs are related to this API:\n\n* [Directory of Services - Urgent and Emergency Care - SOAP API](https://digital.nhs.uk/developer/api-catalogue/directory-of-services-soap) - use this SOAP API to access information on a wide range of health and care services across England\n* [Directory of Services - Urgent and Emergency Care - REST API](https://digital.nhs.uk/developer/api-catalogue/directory-of-services-urgent-and-emergency-care-rest) - use this REST API to access information on a wide range of health and care services across England\n* [EPS Directory of Services - REST API](https://digital.nhs.uk/developer/api-catalogue/electronic-prescription-service-directory-of-services) - use this to access information about dispensing services, including searching for dispensers who can provide services for a patient with a given location and urgency\n* [Electronic Transmission of Prescriptions Web Services - SOAP API](https://digital.nhs.uk/developer/api-catalogue/electronic-transmission-of-prescriptions-web-services-soap) - use this to access EPS dispenser (and dispensing appliance contractor) information for a patient via NHS UK Web Services\n* [e-Referral Services - A010 Patient service search endpoint](https://digital.nhs.uk/developer/api-catalogue/e-referral-service-fhir#api-Default-a010-patient-service-search) - use this endpoint to find services that meet the referral needs of a patient\n\n## API status and roadmap\nThis API is [in development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses), meaning:\n  * it is available for testing in the integration environment\n  * we expect to make breaking changes based on developer feedback\n\n### Roadmap\nTo see our roadmap, or to suggest, comment or vote on features for this API, see our [interactive product backlog](https://nhs-digital-api-management.featureupvote.com/?order=popular&filter=allexceptdone&tag=service-search-api#controls).\nIf you have any other queries, please [contact us](https://digital.nhs.uk/developer/help-and-support).\n\n## Service level\nThis API is a bronze service, meaning it is operational and supported only during business hours (8am to 6pm), Monday to Friday excluding bank holidays.\nFor more details, see [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels).\n\n## Technology\nThis API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest).\n\nThis API does not support the FHIR standard, but we have a mapping of how its response fields could be mapped to it. For details, see [DoHS API guide to FHIR mappings](https://digital.nhs.uk/developer/api-catalogue/directory-of-healthcare-services/version-3/dohs-api-guide-to-fhir-mappings).\n\n## Network access\nThis API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).\nFor more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).\n\n## Security and authorisation\nThis API is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis),\nmeaning we authenticate the calling application but not the end user.\n\nTo use this API, use the following security pattern:\n* [application-restricted RESTful API - API key authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-api-key-authentication)\n\n## Environments and testing\n\n| Environment       | Base URL                                                  |\n| ----------------- |---------------------------------------------------------- |\n| Sandbox           | `https://sandbox.api.service.nhs.uk/service-search-api/`    |\n| Integration test  | `https://int.api.service.nhs.uk/service-search-api/`        |\n| Production        | Not yet available         |\n\n### Sandbox testing\nOur [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):\n* is for early developer testing\n* only covers a limited set of scenarios\n* is open access, so does not allow you to test authorisation\n\nFor details of sandbox test scenarios, or to try out the sandbox using our 'Try this API' feature, see the documentation for each endpoint.\n\nOur [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing) is for formal integration testing.\n\n### Integration testing\nOur [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):\n* is for formal integration testing\n* includes authorisation, with options for appliation-restricted access\n* test data is a close copy of the production data\n\nFor more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).\n\n### Rate Limiting\nThe integration test environment is rate limited to 1500 requests per week and 1 request per second.\n\n## Onboarding\nThis API is not yet available for onboarding.\n\n## Errors\nWe use standard HTTP status codes to show whether an API request succeeded or not. They are usually in the range:\n\n* 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action\n* 400 to 499 if it failed because of a client error by your application\n* 500 to 599 if it failed because of an error on our server\n\nErrors specific to each API are shown in the Endpoints section, under Response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.\n",
    "title" : "Directory of Healthcare Services API - version 3",
    "version" : "Computed and injected at build time by `scripts/set_version.py`"
  },
  "servers" : [ {
    "description" : "Sandbox environment.",
    "url" : "https://sandbox.api.service.nhs.uk/service-search-api"
  }, {
    "description" : "Integration test environment.",
    "url" : "https://int.api.service.nhs.uk/service-search-api"
  }, {
    "description" : "Production environment.",
    "url" : "https://api.service.nhs.uk/service-search-api"
  } ],
  "security" : [ {
    "OAuth_Token" : [ ]
  } ],
  "tags" : [ {
    "name" : "Organisation"
  }, {
    "name" : "OrganisationType"
  }, {
    "name" : "SearchPostcode"
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "description" : "## Overview\nUse this endpoint to find information about services provided by NHS organisations.\n\nFor more information on how to use search identifiers with this endpoint, see [DoHS API guide to search identifiers and service codes](https://digital.nhs.uk/developer/api-catalogue/directory-of-healthcare-services/guide-to-search-identifiers-and-service-codes).\n\n## Sandbox test scenarios\nYou can test the following scenarios in our sandbox environment:\n\n| Scenario               | Request                    | Response                                 |\n| ---------------------- | -------------------------- | ---------------------------------------- |\n| All organisations      | No parameters              | HTTP status 200 with all organisations   |\n| Single organisation    | `search`=`DN601`           | HTTP status 200 with single organisation |\n| No organisations found | `search`=`no-organisation` | HTTP status 200 with no organisations    |\n| Invalid API version    | No api-version parameter   | HTTP status 404 with problem description |\n\nYou can try out the sandbox using the 'Try this API feature' on this page.\n",
        "operationId" : "search-GET",
        "parameters" : [ {
          "description" : "The API version number can be supplied as a query parameter. \n",
          "explode" : true,
          "in" : "query",
          "name" : "api-version",
          "required" : true,
          "schema" : {
            "default" : 2,
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "The text to search for. All searchable fields are searched by default unless `searchFields` is specified. \n\nWhen searching searchable fields, the search text itself is tokenized, so multiple terms can be separated by white space, for example `search=hello world`. \n\nTo match any term, use `*` which can be useful for boolean filter queries. Omitting this parameter has the same effect as setting it to `*`.\n",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Defaults to any. Specifies whether any or all of the search terms must be matched in order to count the document as a match.",
          "explode" : true,
          "in" : "query",
          "name" : "searchMode",
          "required" : false,
          "schema" : {
            "default" : "any",
            "enum" : [ "any", "all" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "A comma-separated list of field names to search for the specified text. This field works in conjunction with the `search` field.\n\nExample search field: `searchFields=ODSCode`\n",
          "explode" : true,
          "in" : "query",
          "name" : "searchFields",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "When set to simple, search text is interpreted using a simple query language that allows for symbols such as +, * and \"\".\n\nWhen the query type is set to full, search text is interpreted using the Lucene query language which allows field-specific and weighted searches.\n\nThe following example is a search over independent terms, with a requirement that all matching documents include `pool`.\n\nFor more information, see [Simple query syntax in Azure Cognitive Search](https://learn.microsoft.com/en-us/azure/search/query-simple-syntax).\n\nExample using simple query type:\n\n`queryType=simple`\n\n`search=budget hotel +pool`\n\n`searchMode=all`  \n\nThis particular example shows in-field search and term boosting. It looks for hotels where the category field contains the term `budget`.\n\nAny documents containing the phrase `recently renovated` are ranked higher as a result of the term boost value.\n\nFor more information, see [Lucene query syntax in Azure Cognitive Search](https://learn.microsoft.com/en-us/azure/search/query-lucene-syntax).\n\nExample using full query type:\n\n`queryType=full`\n\n`search=category:budget AND \\'recently renovated\\'^3`\n\n`searchMode=all`\n",
          "explode" : true,
          "in" : "query",
          "name" : "queryType",
          "required" : false,
          "schema" : {
            "default" : "simple",
            "enum" : [ "simple", "full" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The number of search results to skip. For example, `$skip:25` returns the entries after the first 25 entries in the search results.",
          "explode" : true,
          "in" : "query",
          "name" : "$skip",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "The number of search results to retrieve. The default is 50.",
          "explode" : true,
          "in" : "query",
          "name" : "$top",
          "required" : false,
          "schema" : {
            "default" : 50,
            "format" : "int32",
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "Optional, defaults to false. Specifies whether to fetch the total count of results. \n\nThis is the count of all documents that match the search and `$filter` parameters, ignoring `$top` and `$skip`. \n\nSetting this value to true may have a performance impact. The count returned is an approximation. \n\nIf you’d like to get only the count without any documents, you can use `$top=0`.\n",
          "explode" : true,
          "in" : "query",
          "name" : "$count",
          "required" : false,
          "schema" : {
            "default" : false,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "A list of comma-separated expressions to sort the results by. Each expression can be either a field name or a call to the `geo.distance()` function. \n\nEach expression can be followed by `asc` to indicate ascending, and `desc` to indicate descending. The default is ascending order.\n\nThis `$orderBy` routine orders the results by the distance from the geography point included in the expression. \n\nThe geography point can be a position from where you are and the results are ordered by how local the results are.\n\nFor more information, see [Simple query syntax in Azure Cognitive Search](https://learn.microsoft.com/en-us/azure/search/search-query-odata-orderby).\n\nExample: \n`$orderby=geo.distance(Geocode, geography'POINT(-0.76444095373153675 52.000820159912109)')`\n",
          "explode" : true,
          "in" : "query",
          "name" : "$orderBy",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "A list of comma-separated fields to include in the result set. \n\nIf unspecified or set to *, all fields marked as retrievable in the schema are included in the projection.\n\nExample: `$select=ODSCode,OrganisationName,Contacts,Address1,Address2,Address3,City,Postcode,OrganisationSubType`\n",
          "explode" : true,
          "in" : "query",
          "name" : "$select",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "A structured search expression in standard OData syntax.\n\nThe `$filter` parameter specifies inclusion or exclusion criteria for returning matches in search results.\n\nFor more information on using the `$filter`, see [OData $filter syntax in Azure Cognitive Search](https://learn.microsoft.com/en-us/azure/search/search-query-odata-filter).\n\nExamples:\n\nFilter results by Pharmacies that are EPS-enabled and classed as 'Community', that is, `ServiceCode` is `EPS0001`, `Organisation Type` is `PHA` and `Sub Type` is `Community`:\n\n`$filter=Services / any (x: x/ServiceCode eq 'EPS0001' ) and OrganisationTypeId eq 'PHA' and OrganisationSubType eq 'Community'`\n\nFilter results that match our postcode, that is `Postcode` field is `NG16`:\n\n`$filter=search.ismatch('NG16', 'Postcode')`\n\nFilter results by `Postcode` is `CW9` and `OrganisationTypeId\" is a dentist:\n\n`$filter=search.ismatch('CW9', 'Postcode') and OrganisationTypeId eq 'DEN'`\n\nFor details on organisation types and service codes, see [organisation and service codes](https://digital.nhs.uk/developer/api-catalogue/directory-of-healthcare-services/guide-to-search-identifiers-and-service-codes#organisation-and-service-codes).\n",
          "explode" : true,
          "in" : "query",
          "name" : "$filter",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "Organisations" : {
                    "$ref" : "#/components/examples/organisations_v2",
                    "value" : null
                  },
                  "SingleItem" : {
                    "$ref" : "#/components/examples/organisations-single_v2",
                    "value" : null
                  },
                  "NotFound" : {
                    "$ref" : "#/components/examples/organisations-not-found_v2",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_200_response"
                }
              }
            },
            "description" : "Search Response"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "Organisations" : {
                    "$ref" : "#/components/examples/bad-request",
                    "value" : null
                  },
                  "SingleItem" : {
                    "$ref" : "#/components/examples/bad-request",
                    "value" : null
                  },
                  "NotFound" : {
                    "$ref" : "#/components/examples/bad-request",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_400_response"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "Organisations" : {
                    "$ref" : "#/components/examples/unauthorized",
                    "value" : null
                  },
                  "SingleItem" : {
                    "$ref" : "#/components/examples/unauthorized",
                    "value" : null
                  },
                  "NotFound" : {
                    "$ref" : "#/components/examples/unauthorized",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "OrganisationNotFound" : {
                    "$ref" : "#/components/examples/organisations-not-found_v2",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_404_response"
                }
              }
            },
            "description" : "Not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "BadRequest" : {
                    "$ref" : "#/components/examples/429-TOO-MANY-REQUESTS",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_429_response"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "summary" : "Search for organisations"
      }
    },
    "/search-postcode-or-place" : {
      "post" : {
        "description" : "## Overview\nUse this endpoint to search for information about services provided by NHS organisations, listed in the service search on the NHS website, filtered by postcode or place name.\n\nFor more information on how to use search identifiers with this endpoint, see [DoHS API guide to search identifiers and service codes](https://digital.nhs.uk/developer/api-catalogue/directory-of-healthcare-services/guide-to-search-identifiers-and-service-codes).\n\n## Sandbox test scenarios\nYou can test the following scenarios in our sandbox environment:\n\n| Scenario               | Request                  | Response                                 |\n| ---------------------- | ------------------------ | ---------------------------------------- |\n| Place found            | `search`=`manchester`    | HTTP status 200 with 2 locations         |\n| Postcode found         | `search`=`WC1N 3JH`      | HTTP status 200 with 50 locations        |\n| Postcode not found     | `search`=`LS42PB`        | HTTP status 500 with problem description |\n| No search parameter    | No search parameter      | HTTP status 500 with problem description |\n| Invalid API version    | No api-version parameter | HTTP status 404 with problem description |\n\nYou can try out the sandbox using the 'Try this API feature' on this page.\n",
        "operationId" : "search-postcode-or-place-POST",
        "parameters" : [ {
          "description" : "Specify the version of the API.  MUST be 2.",
          "explode" : true,
          "in" : "query",
          "name" : "api-version",
          "required" : true,
          "schema" : {
            "default" : 2,
            "enum" : [ 2 ],
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "Search query term. \n\nWhen searching searchable fields, the search text itself is tokenized, so multiple terms can be separated by white space, for example `search=hello world`.\n\nTo match any term, use `*`. Omitting this parameter has the same effect as setting it to `*`.\n",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The latitude parameter for geospacial searches.",
          "explode" : true,
          "in" : "query",
          "name" : "latitude",
          "required" : false,
          "schema" : {
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "The longitude parameter for geospacial searches.",
          "explode" : true,
          "in" : "query",
          "name" : "longitude",
          "required" : false,
          "schema" : {
            "type" : "number"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "additionalProperties" : true,
                "type" : "object"
              }
            }
          },
          "description" : "To generate a response body visit http://api-bridge.azurewebsites.net/servicesearchguide. You can also read Microsoft's search documentation at https://docs.microsoft.com/en-us/rest/api/searchservice/search-documents"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "SearchPostcodeV2" : {
                    "$ref" : "#/components/examples/search-place_v2",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_postcode_or_place_POST_200_response"
                }
              }
            },
            "description" : "Postcode search results"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "Organisations" : {
                    "$ref" : "#/components/examples/unauthorized",
                    "value" : null
                  },
                  "SingleItem" : {
                    "$ref" : "#/components/examples/unauthorized",
                    "value" : null
                  },
                  "NotFound" : {
                    "$ref" : "#/components/examples/unauthorized",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "OrganisationNotFound" : {
                    "$ref" : "#/components/examples/organisations-not-found_v2",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_404_response"
                }
              }
            },
            "description" : "Not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "BadRequest" : {
                    "$ref" : "#/components/examples/429-TOO-MANY-REQUESTS",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_429_response"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "properties" : { },
                  "type" : "object"
                }
              }
            },
            "description" : "Internal Server Error"
          }
        },
        "summary" : "Search for organisations by postcode or place"
      }
    },
    "/organisationtypes" : {
      "get" : {
        "description" : "## Overview\nUse this endpoint to get, filter or search the organisation types.\n\nFor more information on how to use search identifiers with this endpoint, see [DoHS API guide to search identifiers and service codes](https://digital.nhs.uk/developer/api-catalogue/directory-of-healthcare-services/guide-to-search-identifiers-and-service-codes).\n\n## Sandbox test scenarios\nYou can test the following scenarios in our sandbox environment:\n\n| Scenario                    | Request                  | Response                                        |\n| --------------------------- | ------------------------ | ----------------------------------------------- |\n| All organisation types      | /                        | HTTP status 200 with all organisation types     |\n| Single organisation type    | `search`=`pharmacy`      | HTTP status 200 with a single organisation type |\n| No organisation types found | `search`=`nothing`       | HTTP status 200 with no organisation types      |\n| Invalid API version         | No api-version parameter | HTTP status 404 with problem description        |\n\nYou can try out the sandbox using the 'Try this API feature' on this page.\n",
        "operationId" : "organisationtypes-GET",
        "parameters" : [ {
          "description" : "The API version number must be supplied as a query parameter. This must be 1.\n",
          "explode" : true,
          "in" : "query",
          "name" : "api-version",
          "required" : true,
          "schema" : {
            "default" : 1,
            "enum" : [ 1 ],
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "The text to search for. All searchable fields are searched by default unless `searchFields` is specified. \n\nWhen searching searchable fields, the search text itself is tokenized, so multiple terms can be separated by white space, for example `search=hello world`. \n\nTo match any term, use `*` which can be useful for boolean filter queries. Omitting this parameter has the same effect as setting it to `*`.\n",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Defaults to any. Specifies whether any or all of the search terms must be matched in order to count the document as a match.",
          "explode" : true,
          "in" : "query",
          "name" : "searchMode",
          "required" : false,
          "schema" : {
            "default" : "any",
            "enum" : [ "any", "all" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "A comma-separated list of field names to search for the specified text. This field works in conjunction with the `search` field.\n\nExample search field - `searchFields=ODSCode`\n\nOmitting this parameter has the same effect as setting it to `*`.\n",
          "explode" : true,
          "in" : "query",
          "name" : "searchFields",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "When set to simple, search text is interpreted using a simple query language that allows for symbols such as +, * and \"\".\n\nWhen the query type is set to full, search text is interpreted using the Lucene query language which allows field-specific and weighted searches.\n\nThe following example is a search over independent terms, with a requirement that all matching documents include `pool`.\n\nFor more information, see [Simple query syntax in Azure Cognitive Search](https://learn.microsoft.com/en-us/azure/search/query-simple-syntax).\n\nExample using simple query type:\n\n`queryType=simple`\n\n`search=budget hotel +pool`\n\n`searchMode=all`  \n\nThe next example shows in-field search and term boosting. It looks for hotels where the category field contains the term `budget`.\n\nAny documents containing the phrase `recently renovated` are ranked higher as a result of the term boost value.\n\nFor more information, see [Lucene query syntax in Azure Cognitive Search](https://learn.microsoft.com/en-us/azure/search/query-lucene-syntax).\n\nExample using full query type:\n\n`queryType=full`\n\n`search=category:budget AND \\'recently renovated\\'^3`\n\n`searchMode=all`\n\nAllowed values: simple, full\n \n",
          "explode" : true,
          "in" : "query",
          "name" : "queryType",
          "required" : false,
          "schema" : {
            "default" : "simple",
            "enum" : [ "simple", "full" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The number of search results to skip. For example, `$skip:25` returns the entries after the first 25 entries in the search results.",
          "explode" : true,
          "in" : "query",
          "name" : "$skip",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "The number of search results to retrieve. The default is 50.",
          "explode" : true,
          "in" : "query",
          "name" : "$top",
          "required" : false,
          "schema" : {
            "default" : 50,
            "format" : "int32",
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "Optional, defaults to false. Specifies whether to fetch the total count of results. \n\nThis is the count of all documents that match the `search` and `$filter` parameters, ignoring `$top` and `$skip`. \n\nSetting this value to true may have a performance impact. The count returned is an approximation. \n\nIf you’d like to get only the count without any documents, you can use `$top=0`.\n",
          "explode" : true,
          "in" : "query",
          "name" : "$count",
          "required" : false,
          "schema" : {
            "default" : false,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "A list of comma-separated expressions to sort the results by. Each expression can be either a field name or a call to the `geo.distance()` function. \n\nEach expression can be followed by `asc` to indicate ascending, and `desc` to indicate descending. The default is ascending order.\n\nThis `$orderBy` routine orders the results by the distance from the geography point included in the expression.\n\nThe geography point can be a position from where you are and the results are ordered by how local they are.\n\nFor more information, see [Simple query syntax in Azure Cognitive Search](https://learn.microsoft.com/en-us/azure/search/search-query-odata-orderby).\n\nExample: \n`$orderby=geo.distance(Geocode, geography'POINT(-0.76444095373153675 52.000820159912109)')`\n",
          "explode" : true,
          "in" : "query",
          "name" : "$orderBy",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "A list of comma-separated fields to include in the result set. \n\nIf unspecified or set to `*`, all fields marked as retrievable in the schema are included in the projection.\n\nExample: \n`$select=ODSCode,OrganisationName,Contacts,Address1,Address2,Address3,City,Postcode,OrganisationSubType`\n",
          "explode" : true,
          "in" : "query",
          "name" : "$select",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "A structured search expression in standard OData syntax.\n\nThe `$filter` parameter specifies inclusion or exclusion criteria for returning matches in search results.\n\nFor more information on using the `$filter`, see [OData $filter syntax in Azure Cognitive Search](https://learn.microsoft.com/en-us/azure/search/search-query-odata-filter).\n\nExamples:\n\nFilter results by pharmacies that are EPS-enabled and classed as 'community', that is, `ServiceCode` is `EPS0001` and  `OrganisationTypeID` is `PHA` and `SubType` is `Community`:\n\n`$filter=Services / any (x: x/ServiceCode eq 'EPS0001' ) and OrganisationTypeId eq 'PHA' and OrganisationSubType eq 'Community'`\n\nFilter results that match a postcode, that is `Postcode` field is `NG16`:\n\n`$filter=search.ismatch('NG16', 'Postcode')`\n\nFilter results by `Postcode` is `CW9` and `OrganisationTypeId` is a dentist:\n\n`$filter=search.ismatch('CW9', 'Postcode') and OrganisationTypeId eq 'DEN'`\n\nFor details on organisation types and service codes, see [organisation and service codes](https://digital.nhs.uk/developer/api-catalogue/directory-of-healthcare-services/guide-to-search-identifiers-and-service-codes#organisation-and-service-codes).\n",
          "explode" : true,
          "in" : "query",
          "name" : "$filter",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "OrganisationTypes" : {
                    "$ref" : "#/components/examples/organisation-types_v1",
                    "value" : null
                  },
                  "SingleItem" : {
                    "$ref" : "#/components/examples/organisation-types-single-item_v1",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/organisationtypes_GET_200_response"
                }
              }
            },
            "description" : "Success"
          },
          "4XX" : {
            "content" : {
              "application/fhir+json" : {
                "example" : {
                  "$ref" : "examples/400-SEND.json"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/OperationalOutcome"
                }
              }
            },
            "description" : "Below are examples of potential HTTP status codes and their associated error codes, which could be returned in the event of a fault. \nGuidance on error handling within the Booking and Referral Service can be found [here](https://simplifier.net/guide/nhsbookingandreferralstandard/Home/Design/Design--Core#Error-handling).\n| HTTP status | Error code                 | Description |\n| ----------- | -------------------------- | --------------------------------------------- |\n| 400         | SEND_BAD_REQUEST           | The API was unable to process the request. |\n| 400         | REC_BAD_REQUEST            | The Receiver has responded stating the message was malformed. |\n| 401         | SEND_UNAUTHORIZED          | The API deemed you unauthorized to make this request. |\n| 401         | REC_UNAUTHORIZED           | The receiver deemed you unauthorized to make request. |\n| 403         | SEND_FORBIDDEN             | Missing or Expired Token. |\n| 404         | PROXY_NOT_FOUND            | No related people exist for given NHS number. |\n| 404         | REC_NOT_FOUND              | Patient record for given NHS number has been invalidated and not superseded by another NHS number. |\n| 405         | SEND_METHOD_NOT_ALLOWED    | HTTP Verb is not correct for this scenario.|\n| 405         | REC_METHOD_NOT_ALLOWED     | Receiver does not allow this.|\n| 405         | PROXY_METHOD_NOT_ALLOWED   | Proxy does not allow this.|\n| 406         | SEND_NOT_ACCEPTABLE        | Senders message had an incorrect content type defined for a response.|\n| 408         | REC_TIMEOUT                | The downstream domain processing has not completed within the configured timeout period. |\n| 409         | SEND_CONFLICT              |  |\n| 409         | REC_CONFLICT               |  |\n| 409         | PROXY_CONFLICT             |  |\n| 422         | SEND_UNPROCESSABLE_ENTITY  | Message was not malformed but deemed unprocessable. |\n| 422         | REC_UNPROCESSABLE_ENTITY   | Message was not malformed but deemed unprocessable. |         \n| 422         | PROXY_UNPROCESSABLE_ENTITY | Message was not malformed but deemed unprocessable. |         \n| 429         | SEND_TOO_MANY_REQUESTS     | The user has sent too many requests in a given amount of time|\n| 429         | REC_TOO_MANY_REQUESTS      | The user has sent too many requests in a given amount of time|\n",
            "headers" : {
              "X-Correlation-Id" : {
                "description" : "The X-Correlation-Id from the request header, if supplied, mirrored back.",
                "explode" : false,
                "schema" : {
                  "example" : "9562466f-c982-4bd5-bb0e-255e9f5e6689",
                  "format" : "uuid",
                  "type" : "string"
                },
                "style" : "simple"
              },
              "X-Request-Id" : {
                "description" : "The X-Request-Id from the request header, if supplied, mirrored back.",
                "explode" : false,
                "schema" : {
                  "example" : "c1ab3fba-6bae-4ba4-b257-5a87c44d4a91",
                  "format" : "uuid",
                  "type" : "string"
                },
                "style" : "simple"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "Organisations" : {
                    "$ref" : "#/components/examples/bad-request",
                    "value" : null
                  },
                  "SingleItem" : {
                    "$ref" : "#/components/examples/bad-request",
                    "value" : null
                  },
                  "NotFound" : {
                    "$ref" : "#/components/examples/bad-request",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_400_response"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "Organisations" : {
                    "$ref" : "#/components/examples/unauthorized",
                    "value" : null
                  },
                  "SingleItem" : {
                    "$ref" : "#/components/examples/unauthorized",
                    "value" : null
                  },
                  "NotFound" : {
                    "$ref" : "#/components/examples/unauthorized",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_401_response"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "OrganisationNotFound" : {
                    "$ref" : "#/components/examples/organisations-not-found_v2",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_404_response"
                }
              }
            },
            "description" : "Not found"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "BadRequest" : {
                    "$ref" : "#/components/examples/429-TOO-MANY-REQUESTS",
                    "value" : null
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/search_GET_429_response"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "summary" : "Search for organisation types"
      }
    }
  },
  "components" : {
    "examples" : {
      "organisations_v2" : {
        "value" : [ {
          "@search.score" : 1.0,
          "SearchKey" : "X10961",
          "ODSCode" : "FQ288",
          "OrganisationName" : "Medicare Chemist",
          "OrganisationTypeId" : "PHA",
          "OrganisationType" : "Pharmacy",
          "OrganisationStatus" : "Visible",
          "SummaryText" : "",
          "URL" : null,
          "Address1" : "676 COVENTRY ROAD",
          "Address2" : "SMALL HEATH",
          "Address3" : "BIRMINGHAM",
          "City" : "",
          "County" : "",
          "Latitude" : 52.46706008911133,
          "Longitude" : -1.849711537361145,
          "Postcode" : "B10 0UU",
          "Geocode" : {
            "type" : "Point",
            "coordinates" : [ -1.84971, 52.4671 ],
            "crs" : {
              "type" : "name",
              "properties" : {
                "name" : "EPSG:4326"
              }
            }
          },
          "OrganisationSubType" : "Community",
          "OrganisationAliases" : [ ],
          "ParentOrganisation" : {
            "ODSCode" : "QHL",
            "OrganisationName" : "Birmingham and Solihull STP"
          },
          "Services" : [ {
            "ServiceName" : "Pharmacy Service (NHS): Chlamydia screening and treatment",
            "ServiceCode" : "SRV0267",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (NHS): Condom supply",
            "ServiceCode" : "SRV0495",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (NHS): Emergency contraception",
            "ServiceCode" : "SRV0498",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (NHS): Healthy start vitamins",
            "ServiceCode" : "SRV0502",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (NHS): Medication review service",
            "ServiceCode" : "SRV0261",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (NHS): Needle and syringe exchange",
            "ServiceCode" : "SRV0274",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (NHS): Stop smoking service",
            "ServiceCode" : "SRV0273",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (NHS): Stop smoking voucher service",
            "ServiceCode" : "SRV0507",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (NHS): Supervised consumption of medicines",
            "ServiceCode" : "SRV0258",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (NHS): Vaccination service",
            "ServiceCode" : "SRV0508",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (Non-NHS): Blood pressure monitoring",
            "ServiceCode" : "SRV0510",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (Non-NHS): Emergency contraception",
            "ServiceCode" : "SRV0530",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (Non-NHS): Healthcheck",
            "ServiceCode" : "SRV0529",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (Non-NHS): Pregnancy testing",
            "ServiceCode" : "SRV0513",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (Non-NHS): Seasonal flu vaccination service (not at risk groups)",
            "ServiceCode" : "SRV0514",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (Non-NHS): Type 2 diabetes screening",
            "ServiceCode" : "SRV0517",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (Non-NHS): Vaccination service",
            "ServiceCode" : "SRV0518",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service (Non-NHS): Weight management",
            "ServiceCode" : "SRV0271",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Appliance dispensing",
            "ServiceCode" : "SRV0177",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Appointment booking available for consultations",
            "ServiceCode" : "SRV0520",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Appointment booking for consultations not required",
            "ServiceCode" : "SRV0521",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Collect Lateral Flow Device ",
            "ServiceCode" : "SRV0557",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Community Pharmacy",
            "ServiceCode" : "EPS0002",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Electronic Prescription Service",
            "ServiceCode" : "EPS0001",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Inhaler recycling",
            "ServiceCode" : "SRV0523",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Multi-lingual staff",
            "ServiceCode" : "SRV0524",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: New medicine service",
            "ServiceCode" : "SRV0257",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Prescription collection from local General Practices",
            "ServiceCode" : "SRV0519",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Prescription delivery service",
            "ServiceCode" : "SRV0522",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Private consultation room",
            "ServiceCode" : "SRV0526",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Public Health",
            "ServiceCode" : "SRV0527",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Seasonal flu vaccination service (at risk groups)",
            "ServiceCode" : "SRV0277",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Pharmacy Service: Stoma appliance customisation service",
            "ServiceCode" : "SRV0255",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : {
              "ODSCode" : null,
              "OrganisationName" : null
            },
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          } ],
          "OpeningTimes" : [ {
            "Weekday" : "",
            "OpeningTime" : "",
            "ClosingTime" : "",
            "Times" : null,
            "OffsetOpeningTime" : 0,
            "OffsetClosingTime" : 0,
            "OpeningTimeType" : "Additional",
            "AdditionalOpeningDate" : "Dec 25 2022",
            "IsOpen" : false
          }, {
            "Weekday" : "Monday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "19:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1140,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Tuesday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "19:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1140,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Wednesday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "19:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1140,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Thursday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "19:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1140,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Friday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "19:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1140,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Saturday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "18:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1080,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Sunday",
            "OpeningTime" : null,
            "ClosingTime" : null,
            "Times" : null,
            "OffsetOpeningTime" : 0,
            "OffsetClosingTime" : 0,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : false
          } ],
          "Contacts" : [ {
            "ContactType" : "Primary",
            "ContactAvailabilityType" : "Office hours",
            "ContactMethodType" : "Telephone",
            "ContactValue" : "01217730931"
          } ],
          "Facilities" : [ {
            "Id" : 1,
            "Name" : "Braille translation service",
            "Value" : "Yes",
            "FacilityGroupName" : "Accessibility"
          }, {
            "Id" : 2,
            "Name" : "Disabled parking",
            "Value" : "No",
            "FacilityGroupName" : "Accessibility"
          }, {
            "Id" : 3,
            "Name" : "Disabled WC",
            "Value" : "No",
            "FacilityGroupName" : "Accessibility"
          }, {
            "Id" : 4,
            "Name" : "Induction loop",
            "Value" : "No",
            "FacilityGroupName" : "Accessibility"
          }, {
            "Id" : 6,
            "Name" : "Signing service available",
            "Value" : "Don't know",
            "FacilityGroupName" : "Accessibility"
          }, {
            "Id" : 35,
            "Name" : "Step free access",
            "Value" : "Yes",
            "FacilityGroupName" : "Accessibility"
          }, {
            "Id" : 5,
            "Name" : "Text Relay",
            "Value" : "Don't know",
            "FacilityGroupName" : "Accessibility"
          }, {
            "Id" : 7,
            "Name" : "Wheelchair access",
            "Value" : "Yes",
            "FacilityGroupName" : "Accessibility"
          }, {
            "Id" : 28,
            "Name" : "Car Parking",
            "Value" : "Yes",
            "FacilityGroupName" : "Parking"
          }, {
            "Id" : 29,
            "Name" : "Cycle parking",
            "Value" : "No",
            "FacilityGroupName" : "Parking"
          }, {
            "Id" : 30,
            "Name" : "Disabled parking",
            "Value" : "No",
            "FacilityGroupName" : "Parking"
          }, {
            "Id" : 145,
            "Name" : "Baby changing facility",
            "Value" : "No",
            "FacilityGroupName" : "Other facilities"
          }, {
            "Id" : 146,
            "Name" : "Consultation room available",
            "Value" : "Yes",
            "FacilityGroupName" : "Other facilities"
          }, {
            "Id" : 144,
            "Name" : "Toilet available",
            "Value" : "No",
            "FacilityGroupName" : "Other facilities"
          } ],
          "Staff" : [ ],
          "GSD" : null,
          "LastUpdatedDates" : {
            "OpeningTimes" : "2022-07-11T20:09:42.887Z",
            "BankHolidayOpeningTimes" : "2022-09-26T20:25:34.623Z",
            "DentistsAcceptingPatients" : null,
            "Facilities" : "2019-10-28T11:37:36Z",
            "HospitalDepartment" : null,
            "Services" : "2019-10-28T11:33:36Z",
            "ContactDetails" : "2022-09-26T20:24:25.473Z",
            "AcceptingPatients" : null
          },
          "AcceptingPatients" : {
            "GP" : null,
            "Dentist" : [ ]
          },
          "GPRegistration" : null,
          "CCG" : null,
          "RelatedIAPTCCGs" : [ ],
          "CCGLocalAuthority" : [ ],
          "Trusts" : [ ],
          "Metrics" : [ {
            "MetricID" : 43,
            "MetricName" : "Has Car Parking",
            "DisplayName" : "Car parking",
            "Description" : "Is there car parking at this organisation?",
            "Value" : "yes",
            "Value2" : null,
            "Value3" : null,
            "Text" : "Parking available",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 4,
            "MetricDisplayTypeName" : "BooleanImage",
            "HospitalSectorType" : null,
            "MetricText" : null,
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "yes",
            "BandingName" : "Yes"
          }, {
            "MetricID" : 44,
            "MetricName" : "Has Disabled Car Parking",
            "DisplayName" : "Disabled parking",
            "Description" : "Is disabled car parking available at this organisation?",
            "Value" : "no",
            "Value2" : null,
            "Value3" : null,
            "Text" : "Disabled parking not available",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 4,
            "MetricDisplayTypeName" : "BooleanImage",
            "HospitalSectorType" : null,
            "MetricText" : null,
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "no",
            "BandingName" : "No"
          }, {
            "MetricID" : 45,
            "MetricName" : "Has Disabled Access",
            "DisplayName" : "Disabled access",
            "Description" : "Disabled access",
            "Value" : "yes",
            "Value2" : null,
            "Value3" : null,
            "Text" : "Disabled access available",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 4,
            "MetricDisplayTypeName" : "BooleanImage",
            "HospitalSectorType" : null,
            "MetricText" : null,
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "yes",
            "BandingName" : "Yes"
          }, {
            "MetricID" : 47,
            "MetricName" : "Has Induction Loop",
            "DisplayName" : "Induction loop",
            "Description" : "Induction loop in place",
            "Value" : "no",
            "Value2" : null,
            "Value3" : null,
            "Text" : "Does not have induction loop",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 4,
            "MetricDisplayTypeName" : "BooleanImage",
            "HospitalSectorType" : null,
            "MetricText" : null,
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "no",
            "BandingName" : "No"
          }, {
            "MetricID" : 48,
            "MetricName" : "Has Signing Service",
            "DisplayName" : "Signing services",
            "Description" : "Signing services",
            "Value" : "Data not available",
            "Value2" : null,
            "Value3" : null,
            "Text" : "Data not available",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 4,
            "MetricDisplayTypeName" : "BooleanImage",
            "HospitalSectorType" : null,
            "MetricText" : null,
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "NULL",
            "BandingName" : "Data not available"
          }, {
            "MetricID" : 10051,
            "MetricName" : "Electronic prescription service",
            "DisplayName" : "Electronic prescription service",
            "Description" : "Electronic prescription service",
            "Value" : "Yes",
            "Value2" : null,
            "Value3" : null,
            "Text" : "",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 5,
            "MetricDisplayTypeName" : "BandingImage",
            "HospitalSectorType" : null,
            "MetricText" : "[BandingName]",
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "yes",
            "BandingName" : "Electronic prescription service available"
          }, {
            "MetricID" : 99002,
            "MetricName" : "Business Card: Has Car Parking",
            "DisplayName" : "Car parking",
            "Description" : "Is there car parking at this organisation?",
            "Value" : "yes",
            "Value2" : null,
            "Value3" : null,
            "Text" : "Parking available",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 5,
            "MetricDisplayTypeName" : "BandingImage",
            "HospitalSectorType" : null,
            "MetricText" : null,
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "parking",
            "BandingName" : "Yes"
          } ]
        }, {
          "@search.score" : 1.0,
          "SearchKey" : "X95386",
          "ODSCode" : "FFN81",
          "OrganisationName" : "Bayswater Pharmacy",
          "OrganisationTypeId" : "PHA",
          "OrganisationType" : "Pharmacy",
          "OrganisationStatus" : "Visible",
          "SummaryText" : null,
          "URL" : "https://bayswaterpharmacyandspa.co.uk",
          "Address1" : "39-41 Porchester Road",
          "Address2" : "Bayswater",
          "Address3" : null,
          "City" : "London",
          "County" : "",
          "Latitude" : 51.51656723022461,
          "Longitude" : -0.1880851238965988,
          "Postcode" : "W2 5DP",
          "Geocode" : {
            "type" : "Point",
            "coordinates" : [ -0.188085, 51.5166 ],
            "crs" : {
              "type" : "name",
              "properties" : {
                "name" : "EPSG:4326"
              }
            }
          },
          "OrganisationSubType" : "Community",
          "OrganisationAliases" : [ ],
          "ParentOrganisation" : {
            "ODSCode" : "QRV",
            "OrganisationName" : "North West London Health & Care Partnership (STP)"
          },
          "Services" : [ {
            "ServiceName" : "Appointment booking for consultations not required",
            "ServiceCode" : "SRV0521",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Blood pressure monitoring",
            "ServiceCode" : "SRV0510",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Emergency contraception (Non-NHS)",
            "ServiceCode" : "SRV0530",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Inhaler technique service (NHS)",
            "ServiceCode" : "SRV0503",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Medication review service",
            "ServiceCode" : "SRV0261",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Multi-lingual staff",
            "ServiceCode" : "SRV0524",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Needle and syringe exchange",
            "ServiceCode" : "SRV0274",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "New medicine service",
            "ServiceCode" : "SRV0257",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Other health professionals onsite",
            "ServiceCode" : "SRV0525",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Post-discharge support",
            "ServiceCode" : "SRV0505",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Prescription collection from local General Practices",
            "ServiceCode" : "SRV0519",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Prescription delivery service",
            "ServiceCode" : "SRV0522",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Private consultation room",
            "ServiceCode" : "SRV0526",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Seasonal flu vaccination service (at risk groups)",
            "ServiceCode" : "SRV0277",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Seasonal flu vaccination service (not at risk groups)",
            "ServiceCode" : "SRV0514",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Stop smoking service (NHS)",
            "ServiceCode" : "SRV0273",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Stop smoking service (Non-NHS)",
            "ServiceCode" : "SRV0515",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Stop smoking voucher service",
            "ServiceCode" : "SRV0507",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Supervised consumption of medicines",
            "ServiceCode" : "SRV0258",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Travel clinic",
            "ServiceCode" : "SRV0516",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Vaccination service (NHS)",
            "ServiceCode" : "SRV0508",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Vaccination service (Non-NHS)",
            "ServiceCode" : "SRV0518",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Weight management (NHS)",
            "ServiceCode" : "SRV0509",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Weight management (Non-NHS)",
            "ServiceCode" : "SRV0271",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          } ],
          "OpeningTimes" : [ {
            "Weekday" : "Monday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "19:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1140,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Tuesday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "19:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1140,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Wednesday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "19:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1140,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Thursday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "19:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1140,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Friday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "19:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1140,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Saturday",
            "OpeningTime" : "09:00",
            "ClosingTime" : "18:00",
            "Times" : null,
            "OffsetOpeningTime" : 540,
            "OffsetClosingTime" : 1080,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Sunday",
            "OpeningTime" : "11:00",
            "ClosingTime" : "17:00",
            "Times" : null,
            "OffsetOpeningTime" : 660,
            "OffsetClosingTime" : 1020,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "",
            "OpeningTime" : null,
            "ClosingTime" : null,
            "Times" : null,
            "OffsetOpeningTime" : 0,
            "OffsetClosingTime" : 0,
            "OpeningTimeType" : "Additional",
            "AdditionalOpeningDate" : "Dec 25 2022",
            "IsOpen" : false
          }, {
            "Weekday" : "",
            "OpeningTime" : null,
            "ClosingTime" : null,
            "Times" : null,
            "OffsetOpeningTime" : 0,
            "OffsetClosingTime" : 0,
            "OpeningTimeType" : "Additional",
            "AdditionalOpeningDate" : "Jan 01 2023",
            "IsOpen" : false
          } ],
          "Contacts" : [ {
            "ContactType" : "Primary",
            "ContactAvailabilityType" : "Office hours",
            "ContactMethodType" : "Telephone",
            "ContactValue" : "02077275713"
          }, {
            "ContactType" : "Primary",
            "ContactAvailabilityType" : "Office hours",
            "ContactMethodType" : "Email",
            "ContactValue" : "bayswaterpharmacy@gmail.com"
          }, {
            "ContactType" : "Primary",
            "ContactAvailabilityType" : "Office hours",
            "ContactMethodType" : "Website",
            "ContactValue" : "https://bayswaterpharmacyandspa.co.uk"
          } ],
          "Facilities" : [ {
            "Id" : 28,
            "Name" : "Car Parking",
            "Value" : "Yes",
            "FacilityGroupName" : "Parking"
          }, {
            "Id" : 29,
            "Name" : "Cycle parking",
            "Value" : "Yes",
            "FacilityGroupName" : "Parking"
          }, {
            "Id" : 30,
            "Name" : "Disabled parking",
            "Value" : "Don't know",
            "FacilityGroupName" : "Parking"
          }, {
            "Id" : 145,
            "Name" : "Baby changing facility",
            "Value" : "No",
            "FacilityGroupName" : "Other facilities"
          }, {
            "Id" : 146,
            "Name" : "Consultation room available",
            "Value" : "Yes",
            "FacilityGroupName" : "Other facilities"
          }, {
            "Id" : 144,
            "Name" : "Toilet available",
            "Value" : "No",
            "FacilityGroupName" : "Other facilities"
          } ],
          "Staff" : [ {
            "Title" : "",
            "GivenName" : "Harry",
            "FamilyName" : "Kumar",
            "Role" : "Pharmacist",
            "Qualification" : ""
          } ],
          "GSD" : null,
          "LastUpdatedDates" : {
            "OpeningTimes" : "2022-09-27T08:38:37.223Z",
            "BankHolidayOpeningTimes" : "2022-09-27T08:39:55.26Z",
            "DentistsAcceptingPatients" : null,
            "Facilities" : "2021-11-22T04:23:31Z",
            "HospitalDepartment" : null,
            "Services" : "2022-09-27T08:44:21.807Z",
            "ContactDetails" : "2022-07-22T17:26:05.507Z",
            "AcceptingPatients" : null
          },
          "AcceptingPatients" : {
            "GP" : null,
            "Dentist" : [ ]
          },
          "GPRegistration" : null,
          "CCG" : null,
          "RelatedIAPTCCGs" : [ ],
          "CCGLocalAuthority" : [ ],
          "Trusts" : [ ],
          "Metrics" : [ {
            "MetricID" : 43,
            "MetricName" : "Has Car Parking",
            "DisplayName" : "Car parking",
            "Description" : "Is there car parking at this organisation?",
            "Value" : "yes",
            "Value2" : null,
            "Value3" : null,
            "Text" : "Parking available",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 4,
            "MetricDisplayTypeName" : "BooleanImage",
            "HospitalSectorType" : null,
            "MetricText" : null,
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "yes",
            "BandingName" : "Yes"
          }, {
            "MetricID" : 44,
            "MetricName" : "Has Disabled Car Parking",
            "DisplayName" : "Disabled parking",
            "Description" : "Is disabled car parking available at this organisation?",
            "Value" : "Data not available",
            "Value2" : null,
            "Value3" : null,
            "Text" : "Data not available",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 4,
            "MetricDisplayTypeName" : "BooleanImage",
            "HospitalSectorType" : null,
            "MetricText" : null,
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "NULL",
            "BandingName" : "Data not available"
          }, {
            "MetricID" : 10051,
            "MetricName" : "Electronic prescription service",
            "DisplayName" : "Electronic prescription service",
            "Description" : "Electronic prescription service",
            "Value" : "Yes",
            "Value2" : null,
            "Value3" : null,
            "Text" : "",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 5,
            "MetricDisplayTypeName" : "BandingImage",
            "HospitalSectorType" : null,
            "MetricText" : "[BandingName]",
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "yes",
            "BandingName" : "Electronic prescription service available"
          }, {
            "MetricID" : 99002,
            "MetricName" : "Business Card: Has Car Parking",
            "DisplayName" : "Car parking",
            "Description" : "Is there car parking at this organisation?",
            "Value" : "yes",
            "Value2" : null,
            "Value3" : null,
            "Text" : "Parking available",
            "LinkUrl" : null,
            "LinkText" : null,
            "MetricDisplayTypeID" : 5,
            "MetricDisplayTypeName" : "BandingImage",
            "HospitalSectorType" : null,
            "MetricText" : null,
            "DefaultText" : null,
            "IsMetaMetric" : true,
            "BandingClassification" : "parking",
            "BandingName" : "Yes"
          } ]
        }, {
          "@search.score" : 1.0,
          "SearchKey" : "X3753",
          "ODSCode" : "FA612",
          "OrganisationName" : "Castle Lane Pharmacy",
          "OrganisationTypeId" : "PHA",
          "OrganisationType" : "Pharmacy",
          "OrganisationStatus" : "Visible",
          "SummaryText" : "<p><strong>Changes to our services due to COVID-19</strong></p>\r\n<p>This is a message to update all of our customers who use our pharmacy.&nbsp;</p>\r\n<p>These are extraordinary times and we are doing everything that we can to provide the best service under the circumstances whilst also keeping you and our staff safe.</p>\r\n<p>These are challenging times for everyone and we appreciate many of you will be rightly concerned about what is to come in the weeks and months ahead.&nbsp;</p>\r\n<p>We are taking this very seriously and we are working very hard to maintain a normal service.&nbsp;</p>\r\n<p>Key changes we will be making:</p>\r\n<p><strong>OPENING HOURS</strong>&nbsp;</p>\r\n<p>We will be open to the public between as shown below hoever if necessary we may reduce our opening hours to 09:00 and 19:00. If there any further changes we will put posters up and update our website to reflect this.&nbsp;</p>\r\n<p><strong>DELIVERY SERVICE</strong><strong>&nbsp;</strong></p>\r\n<p><strong>We will offer free delivery to anyone who is 70 or over or who falls into an 'at increased risk' category* as defined by UK government for the duration of the pandemic.&nbsp;</strong>&nbsp;<strong>We strongly encourage all those over 70 or in an 'at risk' group to stay at home and let us deliver to you. Please let staff know if you would like your medicines delivered in the local area.&nbsp;</strong></p>\r\n<p><strong>ORDERING PRESCRIPTIONS</strong>&nbsp;</p>\r\n<p>We are currently asking customers to order as usual 7 days in advance. But please allow 5 days for orders to be completed.&nbsp;</p>\r\n<p>A huge thankyou to all our customers for your understanding during this difficult times. We really do appreciate it!</p>\r\n<p><strong>PLEASE STAY SAFE AND LOOK AFTER YOURSELF</strong></p>\r\n<p>If you have any questions please email us on bournemouth.pharmacy@gmail.com as we may not be able to answer the telephone.&nbsp;</p>",
          "URL" : "http://www.castlelanepharmacy.co.uk",
          "Address1" : "482 CASTLE LANE WEST",
          "Address2" : "",
          "Address3" : "BOURNEMOUTH",
          "City" : "DORSET",
          "County" : "",
          "Latitude" : 50.75093460083008,
          "Longitude" : -1.842095136642456,
          "Postcode" : "BH8 9UD",
          "Geocode" : {
            "type" : "Point",
            "coordinates" : [ -1.8421, 50.7509 ],
            "crs" : {
              "type" : "name",
              "properties" : {
                "name" : "EPSG:4326"
              }
            }
          },
          "OrganisationSubType" : "Community",
          "OrganisationAliases" : [ ],
          "ParentOrganisation" : {
            "ODSCode" : "QVV",
            "OrganisationName" : "Dorset STP"
          },
          "Services" : [ {
            "ServiceName" : "Appliance dispensing",
            "ServiceCode" : "SRV0177",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Appliance use review service",
            "ServiceCode" : "SRV0256",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Appointment booking available for consultations",
            "ServiceCode" : "SRV0520",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Appointment booking for consultations not required",
            "ServiceCode" : "SRV0521",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Emergency contraception (NHS)",
            "ServiceCode" : "SRV0498",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Emergency contraception (Non-NHS)",
            "ServiceCode" : "SRV0530",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Medication review service",
            "ServiceCode" : "SRV0261",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Multi-lingual staff",
            "ServiceCode" : "SRV0524",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "New medicine service",
            "ServiceCode" : "SRV0257",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Prescription collection from local General Practices",
            "ServiceCode" : "SRV0519",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Prescription delivery service",
            "ServiceCode" : "SRV0522",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Private consultation room",
            "ServiceCode" : "SRV0526",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Seasonal flu vaccination service (at risk groups)",
            "ServiceCode" : "SRV0277",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Stop smoking service (NHS)",
            "ServiceCode" : "SRV0273",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Stop smoking service (Non-NHS)",
            "ServiceCode" : "SRV0515",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Supervised consumption of medicines",
            "ServiceCode" : "SRV0258",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          }, {
            "ServiceName" : "Vaccination service (NHS)",
            "ServiceCode" : "SRV0508",
            "ServiceDescription" : null,
            "Contacts" : [ ],
            "ServiceProvider" : null,
            "Treatments" : [ ],
            "OpeningTimes" : [ ],
            "AgeRange" : [ ],
            "Metrics" : [ ]
          } ],
          "OpeningTimes" : [ {
            "Weekday" : "Monday",
            "OpeningTime" : "07:00",
            "ClosingTime" : "22:00",
            "Times" : null,
            "OffsetOpeningTime" : 420,
            "OffsetClosingTime" : 1320,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Tuesday",
            "OpeningTime" : "07:00",
            "ClosingTime" : "22:00",
            "Times" : null,
            "OffsetOpeningTime" : 420,
            "OffsetClosingTime" : 1320,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Wednesday",
            "OpeningTime" : "07:00",
            "ClosingTime" : "22:00",
            "Times" : null,
            "OffsetOpeningTime" : 420,
            "OffsetClosingTime" : 1320,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Thursday",
            "OpeningTime" : "07:00",
            "ClosingTime" : "22:00",
            "Times" : null,
            "OffsetOpeningTime" : 420,
            "OffsetClosingTime" : 1320,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Friday",
            "OpeningTime" : "07:00",
            "ClosingTime" : "22:00",
            "Times" : null,
            "OffsetOpeningTime" : 420,
            "OffsetClosingTime" : 1320,
            "OpeningTimeType" : "General",
            "AdditionalOpeningDate" : "",
            "IsOpen" : true
          }, {
            "Weekday" : "Saturday",
            "OpeningTime" : "08:00",
[...]
